<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1070676675979-p0v5fhnnhp0vt0hn5dnvha4i2j3qvapg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1070676675979-p0v5fhnnhp0vt0hn5dnvha4i2j3qvapg</string>
	<key>API_KEY</key>
	<string>AIzaSyBq5zIfNPqMuIOq23bpxIfUJZP941xVaAA</string>
	<key>GCM_SENDER_ID</key>
	<string>1070676675979</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.deliveryControlWeb</string>
	<key>PROJECT_ID</key>
	<string>deliverycontrol-c25a7</string>
	<key>STORAGE_BUCKET</key>
	<string>deliverycontrol-c25a7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1070676675979:ios:7677b72c0df12ae21af38e</string>
</dict>
</plist>